#indiv_post_content{
	padding: 30px 0;
}

#indiv_post_content p{
	color: black;
}

.indiv_post_date{
	color: #8c9398 !important;
}

#indiv_post_content a{
	color: black;
	text-decoration: underline;
}

#indiv_post_sidebar{
	padding: 30px 0;
}

#sponsor_custom_box, #contact_box{
    background-color: #f7f7f7 !important;
}